*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #F8EDE3;
  font-family: 'Inter', sans-serif;
}

.navbar{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.075em;
}


.navbar >img{
  height: 24px;
  margin: 20px;
}

.navbar> p{
  padding: 10px;
  color: white;
}

.travel--card{
  display: flex;
  margin: 50px 0px 0px 700px;
}

.travel--img{
  width: 175px;
height: 250px;
border-radius: 5px;
}

.travel--stats{
  display: flex;
}

.waypoint-icon{
  width: 7px;
height: 9.55px;
margin: 10px;
}

.stats--locations{
  font-weight: 400;
font-size: 20px;
line-height: 12px;

margin: 10px;
}

.grey{
  color: grey;
  margin: 10px;
  font-weight: 400;
font-size: 10.24px;
line-height: 12px;

text-decoration-line: underline;
}
.travel--content{
  padding-left: 20px;
}
.travel--content > h1{
  font-weight: 700;
font-size: 25px;
}
.travel--content > p{
  font-weight: 400;
font-size: 12.24px;
max-width: 300px;
}
.travel--content > h4{
  font-weight: 700;
font-size: 10.24px;
}